@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');


.logo{
    float:left;
    height: 50px;
    width: 50px;
}

h1{
    margin-top: .5rem;
    margin-left: .7rem;
    display: inline-block;
}

nav ul {
    margin-top: .8rem;
    font-size: 1.2rem;
    font-family: 'Cinzel';
    color: white;
    list-style-type: none;
}

.site-header{
    background-color: #724E91;
    margin: 0px;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
  }