@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

*{
  margin: 0px;
  padding: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input[type="radio"] {
  /* The native appearance is hidden */
  appearance: none;
  -webkit-appearance: none;

  /* For a circular appearance we need a border-radius. */
  border-radius: 50%;

  /* The background will be the radio dot's color. */
  background: #e0d0ee;

  /* The border will be the spacing between the dot and the outer circle */
  border: 3px solid #FFF;

  /* And by creating a box-shadow with no offset and no blur, we have an outer circle */
  box-shadow: 0 0 0 1px #724E91;
}

input[type="radio"] {
  margin-top: -1px;
  vertical-align: middle;
}


input[type="radio"]:checked {
  /* The native appearance is hidden */
  appearance: none;
  -webkit-appearance: none;

  /* For a circular appearance we need a border-radius. */
  border-radius: 50%;

  /* The background will be the radio dot's color. */
  background: #724E91;

  /* The border will be the spacing between the dot and the outer circle */
  border: 3px solid #FFF;

  /* And by creating a box-shadow with no offset and no blur, we have an outer circle */
  box-shadow: 0 0 0 1px #724E91;
}

h1, h2, h3, h4, h5{
  font-family: 'Cinzel';
}

.background-white{
  background-color: #fff;
}

.background-red{
  background-color: #F1B5B5;
}

.background-green{
  background-color: #D0EBDF;
}


h1{
  color: #F8C630;
}
.text-center{
  text-align:center;
}

.center{
  margin: 0 auto;
}

.my-1{
margin-top:.8rem;
margin-bottom:.8rem;
}

.my-3{
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.mb-3{
  margin-bottom: 2rem;
}

button{
  min-width: 100px;
  background-color: #5B9279;
  border: none;
  /* padding: 3rem .6rem; */
  height: 100px;
  width: 100px;
  border-radius: 50%;
  color:white;
  font-size: 16px;
  display: block;
  margin: 0 auto;
  /* color transition on the button so it's not as abrupt */
}

button:hover{
  color: #5B9279;
  background-color: #ffff;
}

fieldset {
  border: 0;
  display: flex;
  justify-content: space-evenly;
}

label {
  display:  inline block;
  margin: 1vh 0vw;
}

input[type="radio"] {
  margin: 0px 5px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.container{
  min-height: 78vh;
}

.points-container{
  font-size: 1.5rem;
}

main {
  background-color: #EEF0F2;
  min-height: 60vh;
  width: 50vw;
  border-radius: 30px;
  margin: 0 auto;
  padding: 20px 35px;
  margin-top: 5vh;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.timer {
  color: #724E91;
  font-family: 'Cinzel';
  font-size: 2rem;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 3vh;
}

.question-text, .feedback-text, .answer-field{
  text-align: center;
  margin-bottom: 3vh;
  font-size: 18px;
}
.answer-field input{
  margin-bottom: 1rem;
}

.feedback-text{
  margin-top: 2.5rem;
}

.source-select{
  text-align: center;
}

.text-green{
  color: #5B9279
}

.text-red{
  color: #e77575;
}

.source-select__input{
  width: 60%;
  margin-bottom: 20px;
}

.App-link {
  color: #61dafb;
}

.mc-button {
  border-radius:4px;
  padding: 5px;
  margin: 5px;
  min-width:200px;
  display:inline-block;
  margin: 0 auto;
}

.mc-button-container{
  margin: 0 auto;
  display:grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}

label,
small {
    margin-top: 0.1em;
}

input[type="radio"] {
    height: 1.2rem;
    width: 1.2rem;
    margin-right: 0.5rem;
}

@media screen and (max-width:900px) {
  main{
    width: 95vw;
  }
}

@media screen and (max-width:500px) {
  
}