@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

*{
  margin: 0px;
  padding: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input[type="radio"] {
  /* The native appearance is hidden */
  appearance: none;
  -webkit-appearance: none;

  /* For a circular appearance we need a border-radius. */
  border-radius: 50%;

  /* The background will be the radio dot's color. */
  background: #e0d0ee;

  /* The border will be the spacing between the dot and the outer circle */
  border: 3px solid #FFF;

  /* And by creating a box-shadow with no offset and no blur, we have an outer circle */
  box-shadow: 0 0 0 1px #724E91;
}

input[type="radio"] {
  margin-top: -1px;
  vertical-align: middle;
}


input[type="radio"]:checked {
  /* The native appearance is hidden */
  appearance: none;
  -webkit-appearance: none;

  /* For a circular appearance we need a border-radius. */
  border-radius: 50%;

  /* The background will be the radio dot's color. */
  background: #724E91;

  /* The border will be the spacing between the dot and the outer circle */
  border: 3px solid #FFF;

  /* And by creating a box-shadow with no offset and no blur, we have an outer circle */
  box-shadow: 0 0 0 1px #724E91;
}

h1, h2, h3, h4, h5, .font-ornate{
  font-family: 'Cinzel';
}

h2{
  font-size: 2rem;
}

.background-white{
  background-color: #fff;
}

.background-red{
  background-color: #F1B5B5;
}

.background-green{
  background-color: #D0EBDF;
}

.background-lavender{
  background-color: #9065AE;
}


.background-dark-purple{
  background-color: #693497;
}


h1{
  color: #F8C630;
}
.text-center{
  text-align:center;
}

.bold{
  color: #724E91;
  font-weight: 800;
}
.double-line-height{
  line-height: 1.4rem;
}

a{
  color: #724E91;
}

a:hover{
  color: #9065AE;
}

.center{
  margin: 0 auto;
}

.m-3{
  margin: 1rem;
}

.my-1{
margin-top:.8rem;
margin-bottom:.8rem;
}

.my-3{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.my-6{
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.mb-1{
  margin-bottom: .8rem;
}

.mb-3{
  margin-bottom: 2rem;
}

.mb-6{
  margin-bottom:4rem;
}

.px-3{
  padding: 1rem;
}

.pb-3{
  padding-bottom:3rem;
}

button{
  min-width: 100px;
  background-color: #5B9279;
  border: none;
  /* padding: 3rem .6rem; */
  height: 100px;
  width: 100px;
  border-radius: 50%;
  color:white;
  font-size: 16px;
  display: block;
  margin: 0 auto;
  /* color transition on the button so it's not as abrupt */
}

button:hover{
  color: #5B9279;
  background-color: #ffff;
}

button{
  margin-bottom:10vh;
}

fieldset {
  border: 0;
  display: flex;
  justify-content: space-evenly;
}

label {
  display:  inline block;
  margin: 1vh 0vw;
}

input[type="text"] {
  padding: 10px 5px;
  line-height: 10px;
}

input[type="text"]:focus {
  background-color: #e0d0ee;
}

input[type="radio"] {
  margin: 0px 5px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.flex-container{
  display:flex;
  flex-direction: column;
  height: 100%;
}

.question-text{
  flex-grow: 1;
}

.container{
  min-height: 78vh;
}

.points-container{
  font-size: 1.5rem;
}

main {
  background-color: #EEF0F2;
  min-height: 60vh;
  width: 50vw;
  border-radius: 30px;
  margin: 0 auto;
  padding: 20px 35px;
  margin-top: 5vh;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.timer {
  color: #724E91;
  font-family: 'Cinzel';
  font-size: 2rem;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 3vh;
}

.question-text, .feedback-text, .answer-field{
  text-align: center;
  margin-bottom: 3vh;
  font-size: 18px;
}
.answer-field input{
  margin-bottom: 1rem;
}

.feedback-text{
  margin-top: 2.5rem;
}

.source-select{
  text-align: center;
}

.text-green{
  color: #5B9279
}

.text-red{
  color: #e77575;
}

.input-per60{
  width: 60%;
  margin-bottom: 20px;
}

.App-link {
  color: #61dafb;
}

.button-rectangle {
  border-radius:4px;
  padding: 5px;
  margin: 5px;
  min-width:200px;
  display:inline-block;
  margin: 0 auto;
}

.button-tall{
  height: 100px;
  width: 90%;
}

.button-short{
  height:50px;
}

.rectangle-button-container{
  text-align: center;
}



.corners-rounded-5{
  border-radius: 5px;
}

.grid-container{
  display:grid;
}

.columns-2 {
  grid-template-columns: 1fr 1fr;
}

.gap-15{
  gap: 15px;
}

label,
small {
    margin-top: 0.1em;
}

.text-white{
  color:white;
}

input[type="radio"] {
    height: 1.2rem;
    width: 1.2rem;
    margin-right: 0.5rem;
}
@media screen and (max-width:1600px) {
  main{
    width: 55vw;
  }
}

@media screen and (max-width:1400px) {
  main{
    width: 75vw;
  }
}

@media screen and (max-width:1200px) {
  main{
    width: 85vw;
  }
}


@media screen and (max-width:1000px) {
  main{
    width: 95vw;
  }
}

@media screen and (max-width:600px) {
  .columns-2 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .mobile-mb-2 {
    margin-bottom: 1.25rem;
  }
}

